.course_container {background-color:#eeeeee; border-radius:10px;padding:10px;}
.course_name {font-weight:bold; font-size:18px; color:#000000;}
.course_description { color:#444444; }
.course_credits { color:#ee0000; }

